extends layout

block content
	link(rel="stylesheet", href="/stylesheets/main.css")
	.row
		.page-nav.col-md-6.col-md-offset-4
			button.btn.btn-index: a(href="/translate") Translate 
			button.btn.btn-quiz: a(href="/view/quiz") Quiz
			button.btn.btn-progress: a(href="/progress") Progress